
form{
    background-color: #eaeaea;
    /*max-width: 500px;*/
    width: 90%;
    position:relative;
    margin-top:10px;
}
.hidden{
    display:none;
}
.required:after {
    color: red;
    content: "*";
    margin-left: 2px;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.required-input {
    border-color: red !important;
    border: 1px solid red !important;
}

th {
    max-width: 125px;
    width: 25%;
}
#data-forms-container form{
    display:none;
}

#result-table{
    display:none;
}

header div{
    float:right;
}
.warning-message{
    color:red;
}
a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
    color: gray !important;
    text-decoration: none !important;
}
