
form{
    background-color: #eaeaea;
    position:relative;
    margin-top:10px;
}
.required:after {
    color: red;
    content: "*";
    margin-left: 2px;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.required-input {
    border-color: red !important;
    border: 1px solid red !important;
}

th {
    max-width: 125px;
    width: 30%;
}
th:first-child{
    max-width: 125px;
    width: 10%;
}
#data-forms-container form{
    display:none;
}

#result-table{
    display:none;
}

header div{
    float:right;
}
.warning-message{
    color:red;
}
a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.4;
    color: gray !important;
    text-decoration: none !important;
}

.container {
    background-color: #fbf9f0;
    padding-bottom:10px;
}

form fieldset{
    padding-left: 10px;
    padding-top: 5px;
}
